<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgl.mybatis.generator.mapper.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.zgl.mybatis.generator.model.OrderItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="total_price" jdbcType="INTEGER" property="totalPrice" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>