<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgl.mybatis.generator.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.zgl.mybatis.generator.entity.Teacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
  </resultMap>
</mapper>